.banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.banner-slide {
    display: none;
    width: 100%;
}

.banner-slide img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.active {
    display: block;
}
