/* Importando a fonte diretamente no CSS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Geral */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Bebas Neue', Arial, sans-serif; /* Fonte atualizada */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    margin-right: 20px;
}

header h1 {
    font-size: 2em; /* Ajuste o tamanho conforme necessário */
    margin: 0 auto; /* Centraliza horizontalmente */
    text-align: center;
    flex: 1; /* Permite que o h1 ocupe todo o espaço disponível */
    display: flex;
    justify-content: center; /* Centraliza o texto horizontalmente */
}


.menu-icon {
    cursor: pointer;
    padding: 10px;
}

.menu-icon span {
    display: block;
    background-color: white;
    height: 3px;
    margin: 5px;
    width: 25px;
}

.sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: white;
    padding-top: 20px;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.sidebar.open {
    display: block;
    transform: translateX(0);
}

.close-icon {
    text-align: right;
    padding: 10px;
    cursor: pointer;
}

.close-icon span {
    font-size: 2em;
    color: white;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 10px;
    text-align: center;
    border-bottom: 1px solid white;
}
.sidebar ul li:first-child {
    border-top: 1px solid white; /* Adiciona uma linha branca acima do primeiro item */
}
.sidebar ul li a {
    color: white;
    text-decoration: none;
   
    align-items: center; /* Alinha o ícone e o texto verticalmente */
}
.sidebar ul li a i {
    margin-right: 8px; /* Ajuste o valor conforme necessário */
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.product-item {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    width: calc(25% - 20px); /* Ajusta a largura para que 4 itens caibam em uma linha */
    box-sizing: border-box; /* Garante que o padding e a borda estejam inclusos na largura */
    text-align: center;
}
/* Estilo para o produto esgotado */
.product-item.esgotado {
    position: relative; /* Necessário para a posição do aviso "Esgotado" */
}

.product-item.esgotado::before {
    content: "Esgotado";
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    z-index: 1;
}

.product-item.esgotado a {
    pointer-events: none; /* Desabilita o clique no link */
}

.product-item.esgotado button {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
    pointer-events: none; /* Desabilita o clique no botão */
}

@media (max-width: 1200px) {
    .product-item {
        width: calc(33.33% - 20px); /* Reduz para 3 itens por linha em telas menores */
    }
}

@media (max-width: 800px) {
    .product-item {
        width: calc(50% - 20px); /* Reduz para 2 itens por linha em telas ainda menores */
    }
}

@media (max-width: 600px) {
    .product-item {
        width: calc(100% - 20px); /* Um item por linha em telas pequenas */
    }
}

.product-item img {
    width: 100%;
    height: auto;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; /* Garante que o footer fique no final da página */
}

footer p {
    margin: 0;
    font-size: 1em;
}

.social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.social-icons i {
    color: white;
}
.banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.banner-slide {
    display: none;
    width: 100%;
}

.banner-slide img {
    width: 100%;
    display: block;
}

.active {
    display: block;
}
.banner-slide img {
    width: 100%;
    height: 500px; /* Define a altura fixa do banner */
    object-fit: cover; /* Garante que a imagem mantenha a proporção e preencha a área */
}
.main-heading {
    display: inline-block;
    border-right: 2px solid #f4f4f4; /* Efeito de cursor */
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(30, end), blink-caret 0.75s step-end 3;
   
    font-size: 2.5em; /* Ajuste o tamanho conforme necessário */
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}
.contact-box {
    border: 2px solid #333; /* Cor da borda escura */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas da caixa */
    background-color: white;
    color: #333; /* Cor do texto */
    max-width: 600px;
    margin: 20px auto; /* Centraliza a caixa */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra */
}

.contact-box p {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.contact-button {
    background-color: #555; /* Cor original do botão */
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 20px; /* Bordas arredondadas */
    text-align: center;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
}

.contact-button:hover {
    background-color: #808080; /* Cor ao passar o mouse */
}
